# Virtual environments
myenv/
.venv/

# Byte-compiled files
__pycache__/
*.pyc

# Distribution/build files
dist/
build/
*.egg-info/

# Large binaries
*.so
*.bin

# OS-specific files
.DS_Store

# Environment variables
.env

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# VSCode settings (if using VSCode)
.vscode/

# Log files
*.log

# Any other temporary files
*.tmp